/* CSS file */
@font-face {
src:url("assets/fonts/verdana.ttf");
fontFamily: Verdana;
advancedAntiAliasing: true;
}
@font-face {
src:url("assets/fonts/verdanab.TTF");
fontFamily: Verdana;
fontWeight: bold;
advancedAntiAliasing: true;
}
@font-face {
src:url("assets/fonts/verdanai.TTF");
fontFamily: Verdana;
font-style: italic;
advancedAntiAliasing: true;
}
@font-face {
src:url("assets/fonts/verdanaz.TTF");
fontFamily: Verdana;
fontWeight: bold;
font-style: italic;
advancedAntiAliasing: true;
}
@font-face {
src:url("assets/fonts/cour.ttf");
fontFamily: CourierNew;
advancedAntiAliasing: true;
}
@font-face {
src:url("assets/fonts/COURBD.TTF");
fontFamily: CourierNew;
fontWeight: bold;
advancedAntiAliasing: true;
}
@font-face {
src:url("assets/fonts/COURI.TTF");
fontFamily: CourierNew;
font-style: italic;
advancedAntiAliasing: true;
}
@font-face {
src:url("assets/fonts/COURBI.TTF");
fontFamily: CourierNew;
fontWeight: bold;
font-style: italic;
advancedAntiAliasing: true;
}
@font-face {
src:url("assets/fonts/ARIAL.TTF");
fontFamily: Arial;
advancedAntiAliasing: true;
}
@font-face {
src:url("assets/fonts/ARIALBD.TTF");
fontFamily: Arial;
fontWeight: bold;
advancedAntiAliasing: true;
}
@font-face {
src:url("assets/fonts/ARIALI.TTF");
fontFamily: Arial;
font-style: italic;
advancedAntiAliasing: true;
}
@font-face {
src:url("assets/fonts/ARIALBI.TTF");
fontFamily: Arial;
fontWeight: bold;
font-style: italic;
advancedAntiAliasing: true;
}
@font-face {
src:url("assets/fonts/TAHOMA.TTF");
fontFamily: Tahoma;
advancedAntiAliasing: true;
}
@font-face {
src:url("assets/fonts/tahomabd.TTF");
fontFamily: Tahoma;
fontWeight: bold;
advancedAntiAliasing: true;
}
@font-face {
src:url("assets/fonts/graphicpixel.ttf");
fontFamily: Pixel;
advancedAntiAliasing: true;
}
@font-face {
src:url("assets/fonts/ABITE.ttf");
fontFamily: Abite;
advancedAntiAliasing: true;
}
@font-face {
src:url("assets/fonts/ADrinkForAllAges.TTF");
fontFamily: ADrinkForAllAges;
advancedAntiAliasing: true;
}
@font-face {
src:url("assets/fonts/SFIntellivised.ttf");
fontFamily: Intellivised;
advancedAntiAliasing: true;
}
@font-face {
src:url("assets/fonts/SFIntellivised-Bold.ttf");
fontFamily: Intellivised;
fontWeight: bold;
advancedAntiAliasing: true;
}
@font-face {
src:url("assets/fonts/SFIntellivised-Italic.ttf");
fontFamily: Intellivised;
font-style: italic;
advancedAntiAliasing: true;
}
@font-face {
src:url("assets/fonts/SFIntellivised-BoldItalic.ttf");
fontFamily: Intellivised;
fontWeight: bold;
font-style: italic;
advancedAntiAliasing: true;
}
